# All hidden folders and files
/.*
!/.gitignore
!/.gitconfig
!/.gitmodules
!/.metadata

# Linux Folders
/Videos/
/Pictures/
/Music/
/Desktop/
/Downloads/
!/Documents/
/libraries/tensorflow/

# ROS files
/soccer/build/
/soccer/devel/
/soccer/nbproject/private/*

/soccer/src/primes_tutorial/

# Yolonet
/soccer/src/darknet_ros/darknet_ros/yolo_network_config/weights
/soccer/src/darknet_ros/weights
/soccer/src/darknet_ros/darknet_ros/CMakeList.txt
/soccer/src/darknet_ros/darknet/weights
/soccer/src/darknet_ros/darknet/training

# SIMSpark
/simspark/**/build/**
/rcsoccersim/utra_base/Release
/rcsoccersim/utra_base/Debug

# pkgconfig
/soccer/devel/lib/pkgconfig/**
