# All hidden folders and files
.*
!/.gitignore
!/.gitconfig

# Linux Folders
/Videos/
/Pictures/
/Music/
/Desktop/
/Downloads/
!/Documents/

# ROS files
/soccer/build/
!/soccer/build/.project
/soccer/devel/lib/*
/soccer/**/build/**

# SIMSpark
/simspark/**/build/**

# pkgconfig
/soccer/devel/lib/pjgconfig/**
# Gazebo (Might need to fix in future)
