# All hidden folders and files
.*
!/.gitignore
!/.gitconfig
!/.gitmodules

# Linux Folders
/Videos/
/Pictures/
/Music/
/Desktop/
/Downloads/
!/Documents/

# ROS files
/soccer/build/
#/soccer/devel/
/soccer/nbproject/private/*

# SIMSpark
/simspark/**/build/**

# pkgconfig
/soccer/devel/lib/pjgconfig/**
