<launch>
	<include file="$(find image_acquisition)/launch/image_acquisition_field_test.launch" />
    <include file="$(find object_recognition)/launch/object_recognition.launch" />
	<include file="$(find darknet_ros)/launch/darknet_ros.launch" />
    <include file="$(find pixel_to_position_transformation)/launch/pixel_to_position_transformation.launch" />
    <include file="$(find localization)/launch/localization.launch" />
</launch>
